<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/css/style.css">
    {% block style_link %}
    {% endblock %}
</head>
<body>
    <header class="header">

        <div class="logo">
            <img src="../static/img/logo.svg" alt="Logo">
        </div>

        <div class="sign-left">
            <p>Grow</p>
        </div>

        <div class="sign-right">
            <p>Be</p>
        </div>

        <nav>
            <ul class="menu">
                <li class="li-nav-element"><a class="menu-item" style="color: #F25822" href="/index/">Home</a></li>
                <li class="li-nav-element" style="width: 60px"><a class="menu-item" href="/opportunities/">Opportunities</a></li>
                <li class="li-nav-element"><a class="menu-item" href="/reasons/">Reasons</a></li>
{#                <li class="li-nav-element"><a class="menu-item" href="#">Features</a></li>#}
{#                <li class="li-nav-element"><a class="menu-item" href="#">Team</a></li>#}
{#                <li class="li-nav-element"><a class="menu-item" href="#">Blog</a></li>#}
{#                <li class="li-nav-element"><a class="menu-item" href="#">Contact</a></li>#}
            </ul>
        </nav>
        
    </header>

    {% block content %}
        <h1>Какой-то контент</h1>
    {% endblock %}

    <footer class="footer">
        <ul class="logo-list">
            <li class="logo-item"> <img src="../static/img/1.svg" alt="logo item"></li>
            <li class="logo-item"> <img src="../static/img/2.svg" alt="logo item"></li>
            <li class="logo-item"> <img src="../static/img/3.svg" alt="logo item"></li>
            <li class="logo-item"> <img src="../static/img/4.svg" alt="logo item"></li>
            <li class="logo-item"> <img src="../static/img/5.svg" alt="logo item"></li>
            <li class="logo-item"> <img src="../static/img/6.svg" alt="logo item"></li>
        </ul>
    </footer>

</body>
</html>