{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block style_link %}
        <link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block content %}
    <section class="main">
    <div class="main-left">
        <h1 class="main-welcome">SEO & Digital Marketing For Your Website.</h1>
        <p class="main-description">Provide all kind of seo services and help to improve
            seo ranking. Globally incubate standards.</p>
        <div class="main-buttons">
            <button class="main-start-button"><a class="main-button-text">Start Now</a></button>
            <a class="main-href" href=#>Watch Video</a>
        </div>
    </div>
    <div class="main-right">
        <img src="../static/img/pngfind1.svg" alt="Visual">
    </div>
</section>
{% endblock %}

