{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block style_link %}
        <link rel="stylesheet" href="../static/css/style2.css">
{% endblock %}

{% block content %}
<section class="choose">
    <h2 class="choose-sign">Why You Should Choose Us.</h2>
    <p class="choose-description">Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate
        e-business
        applications through revolutionary catalysts.</p>
</section>

<section class="features-cards">
    <div class="feature-card">
        <img src="../static/img/reasons/fc1.svg" alt="img" height="270" width="370">
        <div class="feature-card-text">
            <h3 class="feature-card-text-header">Keyword Research</h3>
            <p class="feature-card-text-description">Business applications through revolutionary catalysts for chang the
                Seamlessly underwhelm dures.</p>
        </div>
        <button class="feature-card-text-button"><a class="feature-card-text-button-text">Learn More
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                <path d="M1 9L5 5L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </a></button>
    </div>

    <div class="feature-card">
        <img src="../static/img/reasons/fc2.svg" alt="img">
        <div class="feature-card-text">
            <h3 class="feature-card-text-header">Seo Optimazadion</h3>
            <p class="feature-card-text-description">Business applications through revolutionary catalysts for chang the
                Seamlessly underwhelm dures.</p>
        </div>
        <button class="feature-card-text-button"><a class="feature-card-text-button-text">Learn More
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                <path d="M1 9L5 5L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </a></button>
    </div>

    <div class="feature-card">
        <img src="../static/img/reasons/fc3.svg" alt="img">
        <div class="feature-card-text">
            <h3 class="feature-card-text-header">Social Marketing</h3>
            <p class="feature-card-text-description">Business applications through revolutionary catalysts for chang the
                Seamlessly underwhelm dures.</p>
        </div>
        <button class="feature-card-text-button"><a class="feature-card-text-button-text">Learn More
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                <path d="M1 9L5 5L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </a></button>
    </div>
</section>
{% endblock %}